@using Shared.Contracts.Response
@model Domain.Entities.Product
@{
    var categories = ViewBag.Categories as CategoryResponseDto[];
}
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductReference"></label>
            <input asp-for="ProductReference" class="form-control" />
            <span asp-validation-for="ProductReference" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductPrice"></label>
            <input asp-for="ProductPrice" class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductQuantity"></label>
            <input asp-for="ProductQuantity" class="form-control" />
            <span asp-validation-for="ProductQuantity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" >
                <option value="">Select a category...</option>
                @foreach (var category in categories)
                {
                    <option value="@category.CategoryId" label=@category.CategoryName/>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>
@*@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
*@
