@using Shared.Contracts.Response
@model ShippingAddressResponseDto
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-controller="ShippingAddress" asp-action="Edit" asp-route-id="@Model.ShippingAddressId">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update my shipping address</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="ShippingAddressId" />
        <div class="mb-3">
            <label asp-for="ShippingAddressStreetName">Street Name</label>
            <input asp-for="ShippingAddressStreetName" class="form-control" />
            <span asp-validation-for="ShippingAddressStreetName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ShippingAddressStreetNumber">Number</label>
            <input asp-for="ShippingAddressStreetNumber" class="form-control" />
            <span asp-validation-for="ShippingAddressStreetNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ShippingAddressCity">City</label>
            <input asp-for="ShippingAddressCity" class="form-control" />
            <span asp-validation-for="ShippingAddressCity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ShippingAddressZip">Postal Code</label>
            <input asp-for="ShippingAddressZip" class="form-control" />
            <span asp-validation-for="ShippingAddressZip" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ShippingAddressCountry">Country</label>
            <input asp-for="ShippingAddressCountry" class="form-control" />
            <span asp-validation-for="ShippingAddressCountry" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="ShippingAddress" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>
@*@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
*@
