@using Shared.Contracts.Response;
@model ProductResponseDto[]
@{
    ViewData["Title"] = "Index";
}

<div class="row pb-3">
    @foreach (var product in Model)
    {
        {
            string formattedPrice = product.ProductPrice % 1 == 0
            ? product.ProductPrice.ToString("0")
            : product.ProductPrice.ToString("0.00");
            
            <div class="col-lg-3 col-md-6">
                <div class="row p-2">
                    <div class="col-12 p-1 " style="border:1px solid #008cba; border-radius: 5px;">
                        <div class="card">
                            <img src="~/images/@(product.ProductId).jpg" class="card-img-top rounded" /> 
                            @*300*382px*@
                            <div class="pl-1">
                                <p class="card-title h5 text-primary p-lg-1">@product.ProductName</p>
                            <p class="card-title text-secondary p-lg-1">@formattedPrice EUR</p>
                            </div>
                        </div>
                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button onclick="addToCart('@product.ProductId', '@formattedPrice', 1)" class="btn btn-primary form-control mt-1">Add to cart</button>
                            } else
                            {
                                <button disabled class="btn btn-primary form-control mt-1">Add to cart</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
}
</div>


