@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>Web Application created by Mathieu Broekaert</p>
<p>Etudiant EPHEC BA4 Info</p>
<p>Cours de projet d'intégration</p>
<p>Matricule : PSR11069</p>
<p>2022-2023</p>
