@using Shared.Contracts.Response;
@model ToDoItemResponseDto[]
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">ToDos List</h2>
        </div>
    </div>
    <br /><br />


<h1>To do items</h1>
<table class ="table table-table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                User ID
            </th>
            <th>
                Is Completed
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var toDoItem in Model)
    {
        <tr>
            <td width="10%">
                @toDoItem.Id
            </td>
            <td width="50%">
                @toDoItem.Title
            </td>
            <td width="10%">
                @toDoItem.UserId
            </td>
            <td width="10%">
                @toDoItem.IsCompleted
            </td>
        </tr>
    }
    </tbody>
 </table>   
    
</div>

