@using Shared.Contracts.Response;
@{
    ViewData["Title"] = "Index";
}
<div class="row pb-2">
    <h2 class="text-primary">My account</h2>
    <hr />
</div>
<div class="row">
<div class="col-lg-3 col-md-6">
    <div class="row p-2">
        <div class="col-12 p-1 " style="border:1px solid #008cba; border-radius: 5px;">
            <a class="card" asp-action="ViewCustomerDetails" asp-controller="Customer">
                <div class="pl-1">
                        <p class="text-lg-center"><i class="bi bi-person-circle" style="font-size:40px;"></i></p>
                    <p class="card-title h5 text-primary p-lg-1 text-lg-center">INFORMATION</p>
                </div>
            </a> 
         </div>
    </div>
</div>
    <div class="col-lg-3 col-md-6">
        <div class="row p-2">
            <div class="col-12 p-1 " style="border:1px solid #008cba; border-radius: 5px;">
                <a class="card" asp-action="Index" asp-controller="ShippingAddress">
                    <div class="pl-1">
                        <p class="text-lg-center"><i class="bi bi-house-door" style="font-size:40px;"></i></p>
                        <p class="card-title h5 text-primary p-lg-1 text-lg-center">SHIPPING INFO</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="row p-2">
            <div class="col-12 p-1 " style="border:1px solid #008cba; border-radius: 5px;">
                <a class="card" asp-action="Index" asp-controller="BillingAddress">
                    <div class="pl-1">
                        <p class="text-lg-center"><i class="bi bi-cash" style="font-size:40px;"></i></p>
                        <p class="card-title h5 text-primary p-lg-1 text-lg-center">BILLING INFO</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="row p-2">
            <div class="col-12 p-1 " style="border:1px solid #008cba; border-radius: 5px;">
                <div class="card">
                    <div class="pl-1">
                        <p class="text-lg-center"><i class="bi bi-credit-card" style="font-size:40px;"></i></p>
                        <p class="card-title h5 text-primary p-lg-1 text-lg-center">MY SAVED CARDS </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="row p-2">
            <div class="col-12 p-1 " style="border:1px solid #008cba; border-radius: 5px;">
                <a class="card" asp-action="ViewOrders" asp-controller="Order">
                    <div class="pl-1">
                        <p class="text-lg-center"><i class="bi bi-box" style="font-size:40px;"></i></p>
                        <p class="card-title h5 text-primary p-lg-1 text-lg-center">MY ORDERS</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

   
