@model Domain.Entities.User
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create User</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserEmail"></label>
            <input asp-for="UserEmail" class="form-control" />
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>
@*@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
*@
