@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br /><br />
<p>Web Application created by Mathieu Broekaert</p>
<p>Etudiant EPHEC BA3 Info</p>
<p>Cours de programmation côté client</p>
<p>Matricule : PSR11069</p>
<p>2021-2022</p>
