<div class="container p-3">
    <div class="row pt-4" id="ContentToBeUpdateOrderConfirmed">
        <div class="Hourglass" id="hourGlassToDelete"></div>
        <div class="col-6">
            </br>
            <h2 class="text-primary" id="MainTextToUpdate">We are currently processing your order...</h2>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="col-6 text-start">
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-sm">Continue Shopping</a>
    </div>
</div>
@*Hourglass source code : https://codepen.io/tychic-obanda/pen/ZEOPpLa*@
<script src="~/js/checkPaymentStatus.js"></script>